---
import Layout from "@/layouts/Layout.astro"
import Modal from "@/components/Modal.astro"
import ShowMemes from "@/components/ShowMemes.astro"
---

<Layout title="Bienvenido a las Categorías">
  <section class="flex flex-col justify-center items-center px-5">

    <h1 class="text-2xl font-bold"> <span class="text-2xl font-Dancing"> Categoria: </span> Meme del año </h1>

    <ShowMemes classPicture="image-container" />

    <Modal class="clip-dialog" id="close-dialog">
      <img decoding="async" loading="lazy" src='' alt="" id="image-clip" class="rounded-lg size-full">
    </Modal>

    <div class="mt-8 sm:mt-10 lg:mt-20 flex flex-col justify-center items-center">
      <h1 class="text-2xl font-bold uppercase text-center"> Clip del Ciclo </h1>

      <p class="text-gray-400/90 text-center text-xl"> Vuelve a ver el Clip del Ciclo <br/>
          desde el CBTis 86
      </p>
    </div>

  </section>
</Layout> 

<script>
  import { showModal } from '@/const/showModal'

  document.addEventListener('astro:page-load', showModal)
</script>