---
import Layout from "@/layouts/Layout.astro"
import Modal from "@/components/Modal.astro"
import Actions from "@/components/Actions.astro"
import { memesImages } from "@/logic/memes"
---

<Layout title="Bienvenido a las Categorías">
  <section class="flex flex-col justify-center items-center px-5">

    <h1 class="text-2xl font-bold"> <span class="text-2xl font-Dancing"> Categoria: </span> Meme del año </h1>

    <div class="mt-5 grid grid-cols-2 gap-5 sm:grid-cols-4">
      {
        memesImages.map((memeImage) => (
          <picture class={`image-container cursor-zoom-in border rounded-lg ${memeImage.class}`} data-url={memeImage.image}>
            <img
              decoding="async" 
              loading="lazy"
              src={memeImage.image} 
              alt={`Imagen ${memeImage.id}`} 
              class="size-full rounded-lg"/>
          </picture>
        ))
      }
    </div>
    <Modal />

    <div class="mt-8 sm:mt-10 lg:mt-20 flex flex-col justify-center items-center">
      <h1 class="text-2xl font-bold uppercase text-center"> Clip del Ciclo </h1>

      <p class="text-gray-400/90 text-center text-xl"> Vuelve a ver el Clip del Ciclo <br/>
          desde el CBTis 86
      </p>
    </div>

  </section>
</Layout> 

<script>
  import { showModal } from '@/const/showModal'

  document.addEventListener('astro:page-load', showModal)
</script>