---
import Layout from "@/layouts/Layout.astro"
import Modal from "@/components/Modal.astro"
import ShowMemes from "@/components/ShowMemes.astro"
import Actions from "@/components/Actions.astro"
import Clip from '@/sections/clip.astro'
import ArrowDown from "@/components/icons/Arrows/ArrowDown.astro"
---

<Layout title="Bienvenido a las Categor칤as">
  <section class="flex flex-col justify-center items-center px-5">

    <h1 class="text-2xl font-bold"> <span class="text-2xl font-Dancing"> Categoria: </span> Meme del a침o </h1>

    <ShowMemes classPicture="image-container" />

    <aside class="mt-10 md:mt-20 max-w-[320px] md:max-w-[520px] flex flex-col justify-center items-center gap-y-5">
      <h2 class="text-center text-accent text-3xl"> Menci칩n honorifica </h2>
      <picture>
        <img src="/img/Memes/image-meme-ever-6.webp" alt="Imagen de menci칩n honorifica" class="object-cover size-full rounded-lg">
      </picture>
    </aside>

    <Modal className="clip-dialog" id="close-dialog" isButton={true}>
      <img decoding="async" loading="lazy" src='' alt="" id="image-clip" class="rounded-lg size-full">
    </Modal>

    <Clip>
      <h1 class="text-2xl font-bold uppercase text-center"> Clip del Ciclo </h1>

      <p class="text-red-400/90 text-center text-xl"> Vuelve a verlo <br/>
          desde el CBTis 86
      </p>
    </Clip>

    <aside class="mt-5 md:mt-10 flex flex-col gap-y-5 justify-center items-center">
      <h2 class="text-2xl font-Oswald text-orange-500/70"> No te lo pierdas 游 </h2>
      <span> <ArrowDown /> </span>
      <Actions as="a" href="/votos" aria-label="Ir a la secci칩n de votos">
        Vota ahora
      </Actions>
    </aside>
  </section>
</Layout> 

<script>
  import { showModal } from '@/const/showModal'

  document.addEventListener('astro:page-load', showModal)
</script>