---
import Layout from '../layouts/Layout.astro'
import Characters from '@/components/Characters.astro'
---

<Layout title="Fotos del Grupo M ðŸ¤">
	<main>
		<h1 class="text-3xl font-Dancing text-center -skew-y-3 mb-20"> Elige tu Personaje </h1>
		<Characters />
	</main>
</Layout>
