---
import Layout from '../layouts/Layout.astro'
import Characters from '@/components/Characters.astro'
import Memories from '@/components/Memories.astro'
---

<Layout title="6M Forever 🤍">
	<main>
		<h2 class="text-3xl font-Merri text-center -skew-y-3 mb-5 sm:mb-10 md:mb-20"> Elige un Compañero </h2>
		<Characters />

		<Memories />
	</main>
</Layout>
