---
import Layout from '../layouts/Layout.astro'
import Characters from '@/components/Characters.astro'
import Date from '@/components/Date.astro'
---

<Layout title="Fotos del Grupo M 🤍">
	<main>
		<h1 class="text-3xl font-Merri text-center -skew-y-3 mb-5 sm:mb-10 md:mb-20"> Elige un Compañero </h1>
		<Characters />

		<!-- <Date /> -->
	</main>
</Layout>
