---
import Layout from '../layouts/Layout.astro'
import Characters from '@/components/Characters.astro'
import Memories from '@/components/Memories.astro'
---

<Layout 
	title="Anuario del CBTis 86 | Forever 6M"
	description="Forever 6M es el anuario de compa침eros de la generaci칩n 2024 del CBTis 86, donde podr치s entrar, comentar y reaccionar a los perfiles de cada compa침ero del grupo. 춰Entra ahora! 游땾"
	imageShare="/img/SEO/share-image.webp"
	>
	<main>
		<h2 class="text-3xl font-Merri text-center -skew-y-3 mb-5 sm:mb-10 md:mb-20"> Elige un Compa침ero </h2>
		<Characters />

		<Memories />
	</main>
</Layout>
