---
import Layout from "@/layouts/Layout.astro"
import { memesImages } from "@/logic/memes"
---

<Layout title="Memes del año">
  <section class="flex flex-col justify-center items-center px-5">

    <h1 class="text-2xl font-bold"> <span class="text-2xl font-Dancing"> Categoria: </span> Meme del año </h1>

    <div class="mt-5 grid grid-cols-2 gap-5 sm:grid-cols-4">
      {
        memesImages.map((memeImage) => (
          <picture class={`border rounded-lg ${memeImage.class}`}>
            <img src={memeImage.image} alt={'Hola'} class="size-full rounded-lg"/>
          </picture>
        ))
      }
    </div>
</Layout> 