---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Memes del año">
  <section class="flex flex-col justify-center items-center">
    <div class="grid grid-cols-2 sm:grid-cols-4">

    </div>
  </section>
</Layout>