---
import Modal from '@/components/Modal.astro'
import InstagramIcon from '@/components/icons/Instagram.astro'
import GithubIcon from '@/components/icons/Github.astro'
import type { Links } from '@/types/links'

interface Props {
  links: Links[]
}

const { links } = Astro.props
---
<div class="menu-nav flex items-center justify-between px-5 md:hidden h-20">

  <picture class="size-20 flex flex-col items-center justify-center">
    <a href="/" aria-label="Volver al inicio">
      <img src="/logos/6m-logo.svg" alt="logo del grupo M" class="size-full"/>
    </a>
  </picture>

  <div class="relative size-full mr-5"> 
    <img src="/logos/full-logo.svg" alt="logo del grupo M" class="absolute size-full inset-0 blur-xl shadow-xl"/>
    <img src="/logos/full-logo.svg" alt="logo del grupo M" class="absolute size-full inset-0"/>
  </div>

  <button class="button-nav">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </button>
</div>

<Modal className="menu-dialog" id="menu-close-dialog" isButton={false}>
  <div class="flex flex-col justify-center items-center gap-y-5">
    <div class="flex w-full justify-between items-center">
      <span> Menú </span>
      <button class="hamburguer-nav">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </button>
    </div>
    <hr
      class="h-[2px] w-full border-t-0"
      style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
    />
    <div> 
      <img 
        src="/logos/full-logo.svg" 
        alt="logo del grupo M" 
        class="size-auto"
        style="filter: drop-shadow(0 0 10px rgba(2, 2, 2, .9));" 
      />
    </div>
    {
      links.map(({ name, href, label }) => (
        <hr
          class="h-[2px] w-full border-t-0"
          style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
        />
        <a href={href} aria-label={label} class="text-2xl uppercase">{name}</a>
      ))
    }
    <hr
      class="h-[2px] w-full border-t-0"
      style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
    />

    <span class="text-center text-xl text-white/50 md:px-5">
      © 2024 Recuerdos Del grupo M <strong> by Geovas </strong> <span aria-hidden="true" class="hidden md:inline"> | </span>
      <br aria-hidden="true" class="block md:hidden" /> casi todos los derechos reservados ♥️
    </span>
    <nav class="md:px-5">
      <ul class="flex flex-row items-center gap-x-6" aria-label="redes sociales">
        <li>
          <a target="_blank" rel="noopener" href="https://github.com/MartL7"
            aria-label="Github de Geovany Rincón - MartL7"
            class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition hover:scale-125 transition">
            <GithubIcon class="size-8 opacity-70 hover:opacity-100 hover:text-orange-200/90  transition" />
          </a>
        </li>
  
        <li>
          <a target="_blank" rel="noopener" href="https://instagram.com/geovx_lg"
            aria-label="Instagram de Geovany Rincón"
            class="inline-block hover:scale-135 hover:opacity-70 motion-safe:transition hover:scale-125 transition">
            <InstagramIcon class="size-8 opacity-70 hover:opacity-100 hover:text-orange-200/90 transition"/>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</Modal>

<style>
  button {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .30rem;
  }

  .hamburger-nav {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .30rem;
  }

  .hamburguer-nav > div {
    background: #FFF;
    height: 3px;
    width: 100%;
    transition: all .5s;
    transform-origin: left;
  }

  .hamburguer-nav.active div:first-child {
    transform: rotate(45deg);
  }

  .hamburguer-nav.active div:nth-child(2) {
    opacity: 0;
  }

  .hamburguer-nav.active div:nth-child(3) {
    opacity: 0;
  }

  .hamburguer-nav.active div:nth-child(4) {
    transform: rotate(-45deg);
  }

  button > div {
    background: #FFF;
    height: 3px;
    width: 100%;
    transition: all .5s;
    transform-origin: left;
  }
</style>

<script>
  import { $ } from '@/lib/dom-selector'

 document.addEventListener('astro:page-load', () => {
    const $hamburguer = $('.hamburguer-nav') as HTMLButtonElement
    const $button = $('.button-nav') as HTMLButtonElement
    const $navDialog = $('.menu-dialog') as HTMLDialogElement

    $button.addEventListener('click', () => {
      $navDialog.showModal()
      $hamburguer.classList.toggle('active')

      $hamburguer.onclick = () => {
        $hamburguer.classList.toggle('active')
        $navDialog.close()
      }
    })
 })
</script>