---
import Modal from '@/components/Modal.astro'
import Footer from '@/components/Footer.astro'

interface Props {
  links: {
    name: string
    href: string
    label: string
  }[]
}

const { links } = Astro.props
---
<div class="menu-nav flex items-center justify-between px-10 md:hidden h-20">

  <picture>
    LOGO
  </picture>

  <div> 
    OTRO LOGO
  </div>

  <button class="button-nav">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </button>
</div>

<Modal className="menu-dialog" id="menu-close-dialog" isButton={false}>
  <div class="flex flex-col justify-center items-center gap-y-5">
    <div class="flex w-full justify-between items-center">
      <span> Menú </span>
      <button class="hamburguer-nav">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </button>
    </div>
    <hr
      class="h-[2px] w-full border-t-0"
      style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
    />
    LOGO
    {
      links.map(({ name, href, label }) => (
        <hr
          class="h-[2px] w-full border-t-0"
          style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
        />
        <a href={href} aria-label={label} class="text-2xl uppercase">{name}</a>
      ))
    }
    <hr
      class="h-[2px] w-full border-t-0"
      style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
    />

  </div>

</Modal>

<style>
  button {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .30rem;
  }

  .hamburger-nav {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .30rem;
  }

  .hamburguer-nav > div {
    background: #FFF;
    height: 3px;
    width: 100%;
    transition: all .5s;
    transform-origin: left;
  }

  .hamburguer-nav.active div:first-child {
    transform: rotate(45deg);
  }

  .hamburguer-nav.active div:nth-child(2) {
    opacity: 0;
  }

  .hamburguer-nav.active div:nth-child(3) {
    opacity: 0;
  }

  .hamburguer-nav.active div:nth-child(4) {
    transform: rotate(-45deg);
  }

  button > div {
    background: #FFF;
    height: 3px;
    width: 100%;
    transition: all .5s;
    transform-origin: left;
  }
</style>

<script>
  import { $ } from '@/lib/dom-selector'

 document.addEventListener('astro:page-load', () => {
    const $hamburguer = $('.hamburguer-nav') as HTMLButtonElement
    const $button = $('.button-nav') as HTMLButtonElement
    const $navDialog = $('.menu-dialog') as HTMLDialogElement

    $button.addEventListener('click', () => {
      $navDialog.showModal()
      $hamburguer.classList.toggle('active')

      $hamburguer.onclick = () => {
        $hamburguer.classList.toggle('active')
        $navDialog.close()
      }
    })
 })
</script>