---
import Modal from '@/components/Modal.astro'

interface Props {
  links: {
    name: string
    href: string
    label: string
  }[]
}

const { links } = Astro.props
---
<div class="menu-nav flex items-center justify-between px-10 md:hidden h-20">

  <picture>
    LOGO
  </picture>

  <div> 
    OTRO LOGO
  </div>

  <button class="button-nav">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </button>
</div>

<Modal>
  <div class="flex flex-col justify-center items-center gap-y-5">
    {
      links.map(({ name, href, label }) => (
        <hr
          class="h-[2px] w-full border-t-0"
          style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
        />
        <a href={href} aria-label={label} class="text-2xl uppercase">{name}</a>
      ))
    }
    <hr
      class="h-[2px] w-full border-t-0"
      style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
    />
  </div>

</Modal>

<style>
  button {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .30rem;
  }

  button > div {
    background: #FFF;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
  }

  button:hover div:first-child {
    transform: rotate(45deg);
  }

  button:hover div:nth-child(2) {
    opacity: 0;
  }

  button:hover div:nth-child(3) {
    opacity: 0;
  }

  button:hover div:last-child {
    transform: rotate(-45deg);
  }
</style>

<script>
  import { $ } from '@/lib/dom-selector'

 document.addEventListener('astro:page-load', () => {
    const $button = $('.button-nav') as HTMLButtonElement
    const $navDialog = $('.clip-dialog') as HTMLDialogElement
    const $menuNav = $('.menu-nav') as HTMLElement
    const $closeButton = $('#close-dialog') as HTMLButtonElement

    $button.addEventListener('click', () => {
      $navDialog.showModal()
      $menuNav.style.display = 'none'

      $closeButton.onclick = () => {
        $navDialog.close()
        $menuNav.style.display = 'flex'
      }
    })
 })
</script>