---
interface Props {
  name: string;
  birthDayText: string;
}

const { name, birthDayText } = Astro.props
---
<div class="flex flex-col justify-center items-center gap-y-10">
  <aside class="flex flex-col justify-center items-center">
    <h2 class="text-2xl text-center font-Oswald"> Cumpleaños </h2>
    <span class="text-3xl text-center font-public text-blue-200/90 font-bold"> {birthDayText} </span>
  </aside>

  <aside class="flex flex-col justify-center items-center">
    <h2 class="text-2xl text-center font-Oswald"> Apodo </h2>
    <span class="text-3xl text-center font-public text-blue-200/90 font-bold"> {name} </span>
  </aside>

  <aside class="flex flex-col justify-center items-center">
    <h2 class="text-2xl text-center font-Oswald"> Edad </h2>
    <span class="text-3xl text-center font-public text-blue-200/90 font-bold"> 17 </span>
  </aside>
</div>