---
import { getSession } from 'auth-astro/server'
import Actions from "@/components/Actions.astro"
import ShowMemes from '@/components/ShowMemes.astro'

const session = await getSession(Astro.request)
---

<section class="flex justify-center flex-col items-center">
  <article class="flex gap-5">
    <img src={session.user.image} alt="" class="size-14 rounded-full">
    <div class="flex flex-col">
      <h1 class="text-2xl font-bold">{session.user.name }</h1>
      <button id="logout"> 
        <span class="text-red-400/70"> Cerrar Sesión </span>
      </button>
    </div>

  </article>

  <ShowMemes classImage="saturate-0 hover:saturate-100 cursor-pointer"/>
</section>

<script>
  import { $ } from '@/lib/dom-selector'

  document.addEventListener('astro:page-load', async () => {
    const { signOut } = await import('auth-astro/client')
    const $logout = $('#logout')

    if ($logout) $logout.onclick = () => signOut()
  })
</script>

<script>
  import { $, $$ } from '@/lib/dom-selector'

  document.addEventListener('astro:page-load', () => {
    const $images = $$('.image-container') as NodeListOf<HTMLImageElement>

    $images.forEach(($image) => {
      $image.onclick = async () => {
        const { url, id } = $image.dataset
        console.log(url)

        const category = `category-${url.split('/').at(-2).toLowerCase()}`

        const dataToSend = {
          voteId: id,
          category: category
        }
        
        const response = await fetch('/api/memes/votes', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(dataToSend)
        })

        if (!response.ok) {
          window.toast({
            title: '❌ Error',
            message: 'Error al realizar el voto',
            location: 'bottom-center',
            dismissible: true
          })
          console.log('Error')
          return 
        } else {
          console.log('Voto realizado')
          window.toast({
            title: '✅ Voto realizado',
            message: 'Gracias por votar',
            location: 'bottom-center',
            dismissible: true
          })
        }
      }
    })
  })
</script>