<section class="mt-20 flex flex-col justify-center items-center mb-20">
  <slot />


  <aside class="mt-5 flex justify-center items-center">
    <script src="https://fast.wistia.com/embed/medias/59po1ys1tk.jsonp" async></script>
      <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
      <span class="wistia_embed wistia_async_59po1ys1tk popover=true w-[300px] sm:w-[450px] border border-accent" style="display:inline-block;height:265px;position:relative;">&nbsp;</span>
  </aside>

  <span class=`font-Dancing font-bold pointer-events-none text-center mx-auto text-5xl lg:text-6xl text-blue-300/90`>
    Clip del Ever
  </span>
</section>